# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text
*.md text
*.targets text
*.proj text
*.csproj text
*.sln text

# Tesseract config files MUST use LF line endings
/src/Tesseract.Tests/tessdata/Configs/* eol=lf
*.user-words text eol=lf
*.user-words text eol=lf
*.cube.bigrams text eol=lf
*.cube.fold text eol=lf
*.cube.lm text eol=lf
*.cube.params text eol=lf
*.cube.size text eol=lf
*.cube.word-freq text eol=lf


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.tiff binary
*.tif binary
*.dll binary
*.exe binary
*.trainedata binary
*.cube.nn binary
*.tesseract_cube.nn binary