source https://nuget.org/api/v2

nuget ILMerge 2.14.1208 framework: >= net40
nuget NUnit 2.6.4 framework: >= net451
nuget NUnitTestAdapter 1.2 framework: >= net451
nuget Tesseract 2.3.0.0 framework: >= net40
nuget Twitter.Bootstrap 3.0.1.1 framework: >= net451
nuget bootstrap 3.0.3 framework: >= net451
nuget jQuery 1.9.1 framework: >= net451